{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Contact Us</h1>
    <p>We would love to hear from you! If you have any questions, suggestions, or need assistance, please don't hesitate to reach out to us. You can contact us through the following methods:</p>

    <h2>Email</h2>
    <p>You can email us at <a href="mailto:communitygardden@gmail.com">communitygardden@gmail.com</a>.</p>

    <h2>Phone</h2>
    <p>Feel free to call us at (123) 456-7890. Our support team is available Monday through Friday from 9:00 AM to 5:00 PM.</p>

    <h2>Social Media</h2>
    <p>Follow us on social media to stay updated with the latest news and events:</p>
    <ul>
        <li><a href="https://facebook.com/communitygardennetwork" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/communitygarden" target="_blank">Twitter</a></li>
        <li><a href="https://instagram.com/communitygardden" target="_blank">Instagram</a></li>
    </ul>

    <h2>Visit Us</h2>
    <p>Our office is located at:</p>
    <p>300 Ouelette Avenue<br>
    Windsor, ON, N8X 4H1</p>
</div>
{% endblock %}
