{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center my-4">Create a New Group</h1>
    <div class="form-box mx-auto p-4 shadow">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Name:</label>
                <input type="text" class="form-control border-primary rounded" id="id_name" name="name" placeholder="Enter group name" required>
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                <textarea class="form-control border-primary rounded" id="id_description" name="description" rows="4" placeholder="Enter group description" required></textarea>
            </div>
            <div class="form-group">
                <label for="id_image">Image:</label>
                <input type="file" class="form-control-file border-primary rounded" id="id_image" name="image" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Create Group</button>
        </form>
    </div>
</div>
{% endblock %}
