{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="group-header d-flex justify-content-between align-items-center mb-4">
        <h1>{{ group.name }}</h1>
        <div>
            <a href="{% url 'group_about' group.id %}" class="btn btn-info mr-2">About</a>
            {% if user == group.created_by %}
                 <a href="{% url 'delete_group' group.id %}" class="btn btn-danger">Delete Group</a>
            {% endif %}
        </div>
    </div>

    <div class="posts-grid row">
        {% for post in group.posts.all %}
        <div class="col-md-5 mb-5">
            <div class="card h-100" style="overflow-y: auto; max-height: 400px;">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top post-image" alt="Post Image" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <p class="card-text">{{ post.text }}</p>
                    <p class="text-muted mt-auto">Posted by {{ post.author.username }} on {{ post.created_at }}</p>
                    {% if post.author == user %}
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                        {% csrf_token %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if is_member %}
    <div class="add-post text-center mt-4">
        <h2>Add a New Post</h2>
        <button id="addPostButton" class="btn btn-primary">Add a Post</button>
    </div>
    {% else %}
    <p class="text-center text-muted">You must be a member of this group to post.</p>
    {% endif %}
</div>

<!-- Custom Modal -->
<div id="customModal" class="custom-modal">
    <div class="custom-modal-content">
        <span class="custom-modal-close">&times;</span>
        <h5>Add a Post</h5>
        <form id="post-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Post</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById("customModal");
        var btn = document.getElementById("addPostButton");
        var span = document.getElementsByClassName("custom-modal-close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
</script>
{% endblock %}
