{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">All Posts</h2>
    <div class="row">
        {% for upload in uploads %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if upload.photo %}
                <img src="{{ upload.photo.url }}" class="card-img-top" alt="Upload Image">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between">
                    <p class="card-text">{{ upload.tip }}</p>
                    <p class="text-muted">{{ upload.user.username }} - {{ upload.created_at }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
